@import "tailwindcss";

@keyframes testimonial-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.pause-scroll {
  touch-action: manipulation;
}

.pause-scroll:hover,
.pause-scroll:active {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}
